# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

.scratch
.idea

terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.lock.hcl